body {
  overflow-x: hidden;
}
.frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: #e5e5e5;
}

.frame .main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    background: rgb(246, 242, 242);
}

.main_frame .marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-top: 39px;
    margin-left: 40px;
    margin-bottom: 25px;
    border: 1.5px solid #f0f0f6;
}/*marginlar 1marta yoziladi,5tasiga yetadi shu*/


.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.main_frame .mid_frame {
    position: relative;
    width: 970px;
    height: 1259px; 
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
}

.main_frame .right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
     /*LEFT SIDE*/
.main_frame .left_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.left_frame .left_1 .left_1-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
    margin-bottom: 29.46px;
}

.left_frame .left_1 .left_1-2 {
    position: relative;
    width: 66.63px;
    height: 20.9;
    margin-bottom: 6.65px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
     color: #2b2b2b;
}


.main_frame .left_frame .left_1-3 {
    position: relative;
    width: 147.84px;
    height: 25.65px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
   

    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;

     color: #767676;
}

.left_frame .left-icons {
    position: relative;
    width: 100%;
    margin-top: 7.86px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: row; 
} 

.link_href {
    text-decoration: none;
    color: black; 
}

.coloricon {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.backIcon{
  border-radius: 50px;
    padding: 9px;
    gap: 15px;
    align-items: center;
    text-align: center;
    background-color: #ffb400;
}
.main_frame .left_frame .left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-top: 25px;
    margin-left: 44px;
}

.main_frame .left_frame .left_2 .age{
    width: 221px;
    height: 24px;
   background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main_frame .left_frame .left_2 .age .age-n{
    width: 33px;
    background-color: orange;
}
 
.main_frame .left_frame .left_2 .age .age-r{
    width: 78px;
    background-color: orange;
}
   
.main_frame .left_frame .left_2 .age .age-f{
    width: 74px;
    background-color: orange;
}

.main_frame .left_frame .left_2 .age .age-a{
    width: 63px;
    background-color: orange;
}
/*LEFT_2 TUGADI*/
.main_frame .left_frame .left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-top: 25px;
    margin-left: 45px;
  
}

.main_frame .left_frame .left_3 .lan {
    width: 220px;
   
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.skillTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 123.6%;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #2b2b2b;
}

.main_frame .left_3 .marginer1 {
    position: relative;
    width: 220px;
    height: 4px;
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 5px;
    background-color: #ffb400;
}

.main_frame .left_3 .marginer2 {
    position: relative;
    width: 190px;
    height: 4px;
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 5px;
    background-color: #ffb400;
}

.main_frame .left_3 .marginer3 {
    position: relative;
    width: 160px;
    height: 4px;
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 5px;
    background-color: #ffb400;
    border-radius: 15px;
}
     /*LEFT_3 TUGAADI*/

.main_frame .left_frame .left_4 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-top: 25px;
    margin-left: 45px;
}

.skill {
    margin-bottom: 15px;
}
.label {
    font-size: 16px;
}
.percent {
    float: right;
    font-size: 16px;
}
.bar {
  height: 4px;
  background: white;
  border: 8px;
  margin-bottom: 8px;
}
.fill {
  height: 100%;
  background: #f5b041;
  border-radius: 8px;
}/*LEFT_4 TUGADI*/

  .left_frame .left_5 {
    position: relative;
    width: 186px;
    height: 148px;
    margin-top:25px;
    margin-left: 45px;
    margin-bottom: 10px;
} 

 .extraValues {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.extraValue {
  margin-left: 13px;
}
/*  LEFT_5 TUGADI */

/* MIDDLE top  */

.mid_top_frame {
  width: 955px;
  height: 463.09px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-left: -12px;
}
.middleInfo {
  display: flex;
  flex-direction: row;
}
.midPhoto {
  position: relative;
  width: 475.72px;
  height: 490.09px;
  display: flex;
  justify-content:right;
  margin-top: -1rem;
  margin-right: 17.6px;
}

.middleInfo_text {
  width: 500px;
}


.middleInfo h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.middleInfo p {
  margin-bottom: 1rem;
}
.middleInfo svg {
  margin-top: 4rem;
}

.mid_bottom_frame {
  width: 950px;
  height: 687px;
  margin-top: 2rem;
  margin-left: -73px;
  padding: 4rem;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.mainGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}
.gridItem {
  background-color: white;
  width: 320.22px;
  height: 236.72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gridItem h5 {
  margin-top: 1rem;
}
.lastP {
  width: 275.28px;
  height: 82.06px;
  text-align: center;
  margin-top: 0.5rem;
}

.myServices {
  text-align: center;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.myServices p {
  margin-top: 1rem;
}
.light {
  margin-top: 2rem;
}
.navRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  margin-top: 5rem;
}

.navRight .active {
  background-color: #ffb400;
  color: #2b2b2b;
}
.rightIcon {
  background-color: #ccc;
  padding: 3px 4px;
  border-radius: 50%;
  color: #767676;
}
.pattern-1 {
  position: absolute;
  top: 30px;
  left: 70px;
}

.pattern-2 {
  position: absolute;
  top: 400px;
  left: 90px;
}
.pattern-3 {
  position: absolute;
  top: 50px;
  left: 500px;
}
.pattern-4 {
  position: absolute;
  top: 300px;
  left: 370px;
}
.pattern-5 {
  position: absolute;
  top: 400px;
  left: 520px;
}
.pattern-6 {
  position: absolute;
  top: 400px;
  right: 30px;
}
.pattern-7 {
  position: absolute;
  top: 50px;
  right: 30px;
}